<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xxx.dao.ShopCURD">
	<resultMap id="BaseShop" type="Shop">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="shop_num" property="shopNum" jdbcType="VARCHAR" />
		<result column="shop_name" property="shopName" jdbcType="VARCHAR" />
		<result column="shop_many" property="shopMany" jdbcType="VARCHAR" />
	</resultMap>
<!-- 查找所有shop -->
	<select id="selectShop" resultMap="BaseShop" parameterType="com.xxx.model.Shop">
		select
		id,shop_num,shop_name,shop_many
		from shop
	</select>
	<!-- 根据id查找单个shop -->
	<select id="selectByIdShop" resultMap="BaseShop" parameterType="com.xxx.model.Shop">
		select
		id,shop_num,shop_name,shop_many
		from shop where id=#{id}
	</select>
<!-- 根据id更改数据 -->
	<update id="updateShop" parameterType="com.xxx.controller.valueobject.ShopVO">
		update shop set
		shop_num=#{shopNum},shop_name=#{shopName},shop_many=#{shopMany}
		where id=#{id}
	</update>

	<!-- 删除单个 -->
	<delete id="deleteShop" parameterType="int">
		delete from shop where 
		id=#{id}
	</delete>
	<!-- 根据idList批量删除 -->
	<delete id="deleteAllShop" parameterType="list">
		delete from shop
		<if test="idList != null">
			<where>
				id IN
				<foreach item="tutorId" collection="idList" open="("
					separator="," close=")">
					#{tutorId}
				</foreach>
			</where>
		</if>
	</delete>

</mapper>

